html {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: radial-gradient(circle at bottom right,#004266 0%,#19253d 27%,#020000 100%);
    height: 100vh;
    margin: 0;
}

.fst-div {
    height: 100vh;
}

.sec-div {
    height: 100vh;
    background: radial-gradient(circle at top right,#004266 0%,#19253d 27%,#020000 100%);
}

/* All plugin css styles are below this line */
.no-pointer-events {
    pointer-events: none;
}

canvas {
    position: absolute;
    /* top: 0;
    right: 0; */
}

.title-section {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    z-index: 1;
}

.title-elements {
    max-width: 700px;
    margin-left: 200px;
}

.title-elements h1 {
    font-size: 45px;
}

.title-elements p {
    font-size: 25px;
}
